*venv*
__pycache__
secret**
db.sqlite3
.idea
.env
students.json
server/test.py
server/.vscode/settings.json
backData**
server/testUpload.py
server/students.json
srvrcfg.py
server/students_2023_2024.json
server/students copy.json
studentImages
server/db.sqlite3.2025-02-25
server/db.sqlite3.bk
server/db.sqlite3.missing
server/db.sqlite3.temp
log.txt
server/*.json
server/read.py
server/combined_data.json
venv/
*.pyc
